@model IEnumerable<EduEscola.Models.Aluno>

@{
    ViewData["Title"] = "Aluno";
}

<h1 style="margin-top:50px">Aluno</h1>


<nav class="navbar">
    <div class="container-fluid form-group justify-content-end">
        <form class="d-flex  " role="search" asp-action="Index" method="get">
            <input class="form-control me-2 form-control" name="Pesquisar" type="search" value="@ViewData["CurrentFilter"]" placeholder="Pesquisar nome.." aria-label="Search">
            <button class="btn btn-outline-success" value="Search" type="submit">
                <span class="material-symbols-outlined" style="font-size: 1.4rem">
                    search
                </span>
            </button>
            <button class="btn btn-outline-success" asp-action="Create" style="margin-left:10px">
                <span class="material-symbols-outlined" style="font-size: 1.4rem">
                    add
                </span>
            </button>
        </form>            
    </div>
</nav>



<table class=" table bg-white table-bordered table-hover ">
    <thead>
        <tr class="table border-color-dark" style="color: #fff; background: #001B3D; border: solid 1px #001B3D;  ">
            <th>
                <p> Nome Completo</p>
                @*@Html.DisplayNameFor(model => model.NomeCompleto)*@
            </th>
            <th>
                <p> CPF</p>
                @*@Html.DisplayNameFor(model => model.Cpf)*@
            </th>
            <th>
                <p> Data de Nascimento</p>
                @*@Html.DisplayNameFor(model => model.DataNascimento)*@
            </th>
            <th>
                <p>Matrícula</p>
                @*@Html.DisplayNameFor(model => model.MatriculaAluno)*@
            </th>
            <th>
                <p>Status</p>
               
            </th>
            <th>
                <p>Turma</p>
                @*@Html.DisplayNameFor(model => model.Turmas.CodigoTurma)*@
            </th>
            <th>
                <p> Turno</p>
                @*@Html.DisplayNameFor(model => model.Turmas.Turno)*@
            </th>
            <th>
                <p>Unidade</p>
                @*@Html.DisplayNameFor(model => model.Turmas.Unidades)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="border-radius:8px ;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculaAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status_Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turmas.CodigoTurma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turmas.Turno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turmas.Unidades.Nome_Unidade)
            </td>
            
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdAluno" style="  text-decoration:none">
                        <span class="material-symbols-outlined" style="color: #000;">  edit </span>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.IdAluno" style="  text-decoration:none">
                        <span class="material-symbols-outlined" style="color: #000;">  info  </span>
                    </a>
        </tr> 
                                    
}
    </tbody>
</table>
<h6>Total: @ViewBag.Quantidade alunos</h6>
